            <!-- SHOP -->
            <div class="section">
                <div class="container">
                    <div class="title-shortcode">
                        <h1 class="h1 title">Für deine Schlafroutine</h1>
                        <div class="text text-md">Es ist Zeit, Schlaf wieder zu zelebrieren. Personalisierte, modulare Schlafsysteme geben dir endlich die Kontrolle zurück – sie geben dir den Schlüssel zu erholsamer Ruhe, maßgeschneidert für deinen Körper. Zurück zum ursprünglichen Zweck des Schlafs: Regeneration.</div>
                    </div>
                    <div class="sr-tabs">
                        <div class="sr-tab is-active">Alle Produkte</div>
                        <div class="sr-tab">Schlafsystem</div>
                        <div class="sr-tab">Decken</div>
                        <div class="sr-tab">Kissen</div>
                        <div class="sr-tab">Zubehör</div>
                    </div>
                    <div class="swiper-entry">
                        <div class="swiper-container overflow-visible" data-options='{ 
                            "slidesPerView": 1.07,
                            "spaceBetween": 12,
                            "breakpoints":{
                                "576":{"spaceBetween": 16, "slidesPerView": 1.6},
                                "992":{"spaceBetween": 16, "slidesPerView": 2.4},
                                "1200":{"spaceBetween": 16, "slidesPerView": 1.7}
                            }}'>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="sleep-item type2">
                                        <div class="sleep-img">
                                            <picture>
                                                <source srcset="img/sleep-img-2.webp" type="image/webp">
                                                <source srcset="img/sleep-img-2.png" type="image/png">
                                                <img width="380" height="240" src="#" alt="" loading="lazy">
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="sleep-item type2">
                                        <div class="sleep-img">
                                            <picture>
                                                <source srcset="img/lr-img-2.webp" type="image/webp">
                                                <source srcset="img/lr-img-2.jpg" type="image/jpg">
                                                <img width="380" height="240" src="#" alt="" loading="lazy">
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="sleep-item type2">
                                        <div class="sleep-img">
                                            <picture>
                                                <source srcset="img/lr-img-3.webp" type="image/webp">
                                                <source srcset="img/lr-img-3.jpg" type="image/jpg">
                                                <img width="380" height="240" src="#" alt="" loading="lazy">
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-relative d-none"></div>
                    </div>
                    <div class="sr-compact-stats">
                        <div class="sr-compact-stats__item">
                            <div class="sr-compact-stats__number">250.000+</div>
                            <div class="sr-compact-stats__label">Loyale Kunden</div>
                            <p class="sr-compact-stats__desc">bei Seven Sundays zeigen ihr Vertrauen in unsere hohe Qualität.</p>
                        </div>
                        <div class="sr-compact-stats__item">
                            <div class="sr-compact-stats__number">18%</div>
                            <div class="sr-compact-stats__label">Verbesserte Schlafqualität</div>
                            <p class="sr-compact-stats__desc">Wissenschaftlich belegt in einer Studie mit 43 Profi-Athleten</p>
                        </div>
                        <div class="sr-compact-stats__item">
                            <div class="sr-compact-stats__number">10+</div>
                            <div class="sr-compact-stats__label">Jahre sind wir erfolgreich</div>
                            <p class="sr-compact-stats__desc">AM AWRKT und entwickeln unsere Produkte stetig weiter.</p>
                        </div>
                    </div>
                </div>
                <div class="spacer-lg"></div>
            </div>

            <div class="section">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-5 col-lg-6">
                            <div class="swiper-entry">
                                <div class="swiper-container" data-options='{ 
                                    "slidesPerView": 1.2,
                                    "spaceBetween": 8,
                                    "breakpoints":{
                                        "576":{"spaceBetween": 16, "slidesPerView": 1},
                                        "992":{"spaceBetween": 16, "slidesPerView": 1},
                                        "1200":{"spaceBetween": 16, "slidesPerView": 1}
                                    }}'>
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="simple-img size6">
                                                <picture>
                                                    <source srcset="img/simple-img-1.webp" type="image/webp">
                                                    <source srcset="img/simple-img-1.jpg" type="image/jpg">
                                                    <img width="380" height="240" src="#" alt="" loading="lazy">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="simple-img size6">
                                                <picture>
                                                    <source srcset="img/simple-img-2.webp" type="image/webp">
                                                    <source srcset="img/simple-img-2.jpg" type="image/jpg">
                                                    <img width="380" height="240" src="#" alt="" loading="lazy">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="simple-img size6">
                                                <picture>
                                                    <source srcset="img/simple-img-1.webp" type="image/webp">
                                                    <source srcset="img/simple-img-1.jpg" type="image/jpg">
                                                    <img width="380" height="240" src="#" alt="" loading="lazy">
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-wrapp text-center pos-5">
                                    <div class="swiper-button-prev style3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M19 12L5 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M12 19L5 12L12 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </div>
                                    <div class="swiper-button-next style3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M12 5L19 12L12 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="swiper-pagination swiper-pagination-relative d-none"></div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6 align-self-center order-2 order-lg-1">
                            <div class="lr-content-1">
                                <div class="motto">Seven Sundays</div>
                                <h2 class="h2 title">SCHLAFSYSTEM</h2>
                                <div class="text text-md">Das einzige Schlafsystem, das Dich besucht, bevor Du bestellst</div>
                                <a href="#" class="btn">
                                    <b>MEHR DAZU</b>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spacer-lg"></div>
            </div>

            <div class="section">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-5 col-lg-6">
                            <div class="simple-img size6">
                                <picture>
                                    <source srcset="img/simple-img-1.webp" type="image/webp">
                                    <source srcset="img/simple-img-1.jpg" type="image/jpg">
                                    <img width="380" height="240" src="#" alt="" loading="lazy">
                                </picture>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6 align-self-center order-2 order-lg-1">
                            <div class="lr-content-1">
                                <div class="motto">Seven Sundays</div>
                                <h2 class="h2 title">DREAM COZY</h2>
                                <div class="text text-md">Das einzige Schlafsystem, das Dich besucht, bevor Du bestellst</div>
                                <div class="swiper-entry">
                                    <div class="swiper-container" data-options='{ 
                                        "slidesPerView": 2.2,
                                        "spaceBetween": 8,
                                        "breakpoints":{
                                            "576":{"spaceBetween": 16, "slidesPerView": 1.5},
                                            "992":{"spaceBetween": 16, "slidesPerView": 1.8},
                                            "1200":{"spaceBetween": 16, "slidesPerView": 1.8}
                                        }}'>
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="simple-img">
                                                    <picture>
                                                        <source srcset="img/simple-img-1.webp" type="image/webp">
                                                        <source srcset="img/simple-img-1.jpg" type="image/jpg">
                                                        <img width="380" height="240" src="#" alt="" loading="lazy">
                                                    </picture>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="simple-img">
                                                    <picture>
                                                        <source srcset="img/simple-img-2.webp" type="image/webp">
                                                        <source srcset="img/simple-img-2.jpg" type="image/jpg">
                                                        <img width="380" height="240" src="#" alt="" loading="lazy">
                                                    </picture>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="simple-img">
                                                    <picture>
                                                        <source srcset="img/simple-img-1.webp" type="image/webp">
                                                        <source srcset="img/simple-img-1.jpg" type="image/jpg">
                                                        <img width="380" height="240" src="#" alt="" loading="lazy">
                                                    </picture>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="button-wrapp text-center pos-5">
                                        <div class="swiper-button-prev">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path d="M19 12L5 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M12 19L5 12L12 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </div>
                                        <div class="swiper-button-next">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M12 5L19 12L12 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination swiper-pagination-relative d-none"></div>
                                </div>
                                <a href="#" class="btn">
                                    <b>MEHR DAZU</b>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spacer-lg"></div>
            </div>

            <div class="section">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-5 col-lg-6 align-self-center order-2 order-lg-1">
                            <div class="lr-content-1">
                                <div class="motto">Seven Sundays</div>
                                <h2 class="h2 title">PILLOW TALK</h2>
                                <div class="text text-md">So einzigartig wie dein Körper ist auch die ideale Positionierung von Kopf und Nacken. Wie du schläfst, bestimmt, was du brauchst.</div>
                                <a href="#" class="btn">
                                    <b>KISSEN ENTDECKEN</b>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6 order-1 order-lg-2">
                            <div class="swiper-entry">
                                <div class="swiper-container" data-options='{ 
                                    "slidesPerView": 1.2,
                                    "spaceBetween": 8,
                                    "breakpoints":{
                                        "576":{"spaceBetween": 16, "slidesPerView": 1},
                                        "992":{"spaceBetween": 16, "slidesPerView": 1},
                                        "1200":{"spaceBetween": 16, "slidesPerView": 1}
                                    }}'>
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="simple-img size4">
                                                <picture>
                                                    <source srcset="img/simple-img-1.webp" type="image/webp">
                                                    <source srcset="img/simple-img-1.jpg" type="image/jpg">
                                                    <img width="380" height="240" src="#" alt="" loading="lazy">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="simple-img size4">
                                                <picture>
                                                    <source srcset="img/simple-img-2.webp" type="image/webp">
                                                    <source srcset="img/simple-img-2.jpg" type="image/jpg">
                                                    <img width="380" height="240" src="#" alt="" loading="lazy">
                                                </picture>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="simple-img size4">
                                                <picture>
                                                    <source srcset="img/simple-img-1.webp" type="image/webp">
                                                    <source srcset="img/simple-img-1.jpg" type="image/jpg">
                                                    <img width="380" height="240" src="#" alt="" loading="lazy">
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-wrapp text-center pos-5">
                                    <div class="swiper-button-prev style3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M19 12L5 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M12 19L5 12L12 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </div>
                                    <div class="swiper-button-next style3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M12 5L19 12L12 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="swiper-pagination swiper-pagination-relative d-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spacer-lg"></div>
            </div>

            <section class="section sr-trustpilot">
                <div class="container">
                    <div class="sr-trustpilot__inner">
                        <img width="16" height="16" src="img/icons/trustpilot-icon-2.png" alt="" loading="lazy">
                        <span class="sr-trustpilot__text">Review integration from Trustpilot</span>
                    </div>
                </div>
            </section>

            <!-- PRODUCTS -->
            <div class="section">
                <div class="container">
                    <div class="title-shortcode">
                        <div class="motto">Seven Sundays</div>
                        <h2 class="h2 title">FÜR DEINE ROUTINE</h2>
                        <div class="text text-md">Vervollständige deine Schlafroutine und hol dir dein extra Wellness-Moment ins Schlafzimmer.</div>
                    </div>
                    <div class="swiper-entry">
                        <div class="swiper-container" data-options='{ 
                            "slidesPerView": 1.2,
                            "spaceBetween": 8,
                            "breakpoints":{
                                "576":{"spaceBetween": 16, "slidesPerView": 1.5},
                                "992":{"spaceBetween": 16, "slidesPerView": 2.5},
                                "1200":{"spaceBetween": 16, "slidesPerView": 2.8}
                            }}'>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="product-detail.php" class="product-category">
                                        <picture>
                                            <source srcset="img/product-img-hover-1.webp" type="image/webp">
                                            <source srcset="img/product-img-hover-1.png" type="image/png">
                                            <img width="380" height="240" src="#" alt="" loading="lazy">
                                        </picture>
                                        <div class="product-info no-transform">
                                            <div class="btn">
                                                <b>KISSENSPRAY</b>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="product-detail.php" class="product-category">
                                        <picture>
                                            <source srcset="img/product-img-hover-1.webp" type="image/webp">
                                            <source srcset="img/product-img-hover-1.png" type="image/png">
                                            <img width="380" height="240" src="#" alt="" loading="lazy">
                                        </picture>
                                        <div class="product-info no-transform">
                                            <div class="btn">
                                                <b>SUPPLEMENT</b>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="product-detail.php" class="product-category">
                                        <picture>
                                            <source srcset="img/product-img-hover-1.webp" type="image/webp">
                                            <source srcset="img/product-img-hover-1.png" type="image/png">
                                            <img width="380" height="240" src="#" alt="" loading="lazy">
                                        </picture>
                                        <div class="product-info no-transform">
                                            <div class="btn">
                                                <b>SCHLAFMASKE</b>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-relative d-none"></div>
                    </div>
                </div>
                <div class="spacer-lg"></div>
            </div>