<div class="section">
    <div class="banner">
        <div class="banner-media bottom-shadow shadow-2">
            {% if section.settings.image != blank %}
            {{ section.settings.image 
                | image_url: width: section.settings.image.width
                | image_tag: 
                    width: section.settings.image.width,
                    height: 'auto',
                    alt: section.settings.image.alt,
                    fetchpriority: 'auto',
                    loading: 'lazy'
            }}
            {% endif %}
            {% assign selected_video = section.settings.hero_video_file %}
            {% assign video_url = selected_video.sources.first.url %}

            {% if video_url != blank %}
                <div class="video video-present">
                <video muted playsinline loop preload autoplay poster="{{ section.settings.image | image_url }}" data-src="{{ video_url }}"></video>
                </div>
            {% endif %}
        </div>
        <div class="banner-align">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                        <div class="banner-info text-center">
                            {%- if section.settings.confort_title -%}
                            <div class="h2 title text-balance">{{ section.settings.confort_title }}</div>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer-xl"></div>
</div>

{% schema %}
{
  "name": "Comfort",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "video",
      "id": "hero_video_file",
      "label": "Background video",
    },
    {
      "type": "text",
      "id": "confort_title",
      "label": "Title"
    },
  ],
  "presets": [
    {
      "name": "Comfort",
      "blocks": []
    }
  ]
}
{% endschema %}