<div class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <div class="title-shortcode text-center">
                    {% if section.settings.discover_subtitle != blank %}
                    <div class="motto">{{ section.settings.discover_subtitle }}</div>
                    {% endif %}
                    {% if section.settings.discover_title != blank %}
                    <div class="h3 title font-1">{{ section.settings.discover_title }}</div>
                    {% endif %}
                </div>
                {% if section.settings.discover_text_before_gallery != blank %}
                <div class="motto text-center">{{ section.settings.discover_text_before_gallery }}</div>
                {% endif %}
                
                {% if section.blocks != blank %}
                <div class="marquee">
                    <div class="marquee-line" data-speed="0.03" data-direction="false">
                        <div class="marquee-item">
                            <div class="marquee-content">
                                {% for block in section.blocks %}
                                {% assign image = block.settings.image %}
                                {% assign caption = block.settings.caption %}
                                    {{
                                        image
                                        | image_url: width: 3840
                                        | image_tag:
                                        width: image.width,
                                        alt: image.caption,
                                        fetchpriority: 'auto',
                                        loading: 'lazy',
                                    }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="spacer-lg"></div>
</div>

{% schema %}
{
  "name": "Discover",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "discover_subtitle",
      "label": "Subtitle"
    },
    {
      "type": "inline_richtext",
      "id": "discover_title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "discover_text_before_gallery",
      "label": "Text before gallery"
    },
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Gallery Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "caption",
          "label": "Caption"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
        {
      "name": "Gallery images",
      "blocks": [
        {
          "type": "image"
        },
      ]
    }
  ]
}
{% endschema %}