<div class="section padd-lg sec-black">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6 col-xl-4">
                <div class="sticky-block">
                    <div class="title-shortcode mb-32">
                        {% if section.settings.title != blank %}
                        <div class="h3 title">{{ section.settings.title }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                {% if section.settings.description != blank %}
                <div class="text text-md mb-md">{{ section.settings.description }}</div>
                {% endif %}
                {% if section.settings.description_b_g != blank %}
                <div class="motto">{{ section.settings.description_b_g }}</div>
                {% endif %}
                {% if section.blocks != blank %}
                <div class="brands">
                    {% for block in section.blocks %}
                        {%- assign image = block.settings.image -%}
                        {% if image != blank %}       
                        <div class="brand">
                         {{ image 
                                | image_url: width: image.width
                                | image_tag: 
                                    width: image.width,
                                    height: 'auto',
                                    alt: image.alt,
                                    fetchpriority: 'auto',
                                    loading: 'lazy'
                            }}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Innovating",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "inline_richtext",
      "id": "description_b_g",
      "label": "Text before gallery"
    },
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Gallery Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
      ]
    }
  ],
  "presets": [
        {
      "name": "Innovating",
      "blocks": [
        {
          "type": "image"
        },
      ]
    }
  ]
}
{% endschema %}