{%- if section.settings.show_reviews and section.settings.collection_reviews != blank -%}
  <div class="section sp-sec">
    <div class="container">
      <div class="row justify-content-between">
          <div class="col-lg-12">
            <div class="page-container">
              {{ section.settings.collection_reviews }}
            </div>
          </div>
        </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Product Reviews",
  "class": "index-section product-reviews-section",
  "settings": [
    {
      "type": "liquid",
      "id": "collection_reviews",
      "label": "Product reviews snippet"
    },
    {
      "type": "text",
      "id": "sku",
      "label": "SKU's"
    },
    {
      "type": "checkbox",
      "id": "show_reviews",
      "label": "Show reviews section",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Product Reviews",
      "blocks": []
    }
  ]
}
{% endschema %}
