{{ 'sleep-routine.css' | asset_url | stylesheet_tag }}
<div class="section">
  <div class="container">
    <div class="title-shortcode">
      {%- if section.settings.motto != blank -%}
      <div class="motto">{{ section.settings.motto }}</div>
      {%- endif -%}
      {%- if section.settings.title != blank -%}
      <h2 class="h2 title">{{ section.settings.title }}</h2>
      {%- endif -%}
      {%- if section.settings.description != blank -%}
      <div class="text text-md">{{ section.settings.description }}</div>
      {%- endif -%}
    </div>

    {%- if section.settings.collection.products.size > 0 -%}
    {% assign lazy_load = false %}
    <div class="row product-row">
      {% paginate section.settings.collection.products by section.settings.products_to_show %}
        {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
          {% if lazy_load == false and forloop.index > max_columns_to_show %}
            {% assign lazy_load = true %}
          {% endif %}
          <div class="col-md-6 col-lg-3">
            {% render 'card-product-second',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              lazy_load: lazy_load,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              skip_styles: skip_card_product_styles,
              section_id: section.id,
              quick_add: section.settings.quick_add
            %}
          </div>
        {%- endfor -%}
      {% endpaginate %}
    </div>
    {%- endif -%}
  </div>
  <div class="spacer-lg"></div>
</div>

{% schema %}
{
  "name": "SS Routine Products",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "motto",
      "label": "Motto",
      "default": "Seven Sundays"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "FÜR DEINE ROUTINE"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        { "value": "adapt", "label": "t:sections.featured-collection.settings.image_ratio.options__1.label" },
        { "value": "portrait", "label": "t:sections.featured-collection.settings.image_ratio.options__2.label" },
        { "value": "square", "label": "t:sections.featured-collection.settings.image_ratio.options__3.label" }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        { "value": "default", "label": "t:sections.all.image_shape.options__1.label" },
        { "value": "arch", "label": "t:sections.all.image_shape.options__2.label" },
        { "value": "blob", "label": "t:sections.all.image_shape.options__3.label" },
        { "value": "chevronleft", "label": "t:sections.all.image_shape.options__4.label" },
        { "value": "chevronright", "label": "t:sections.all.image_shape.options__5.label" },
        { "value": "diamond", "label": "t:sections.all.image_shape.options__6.label" },
        { "value": "parallelogram", "label": "t:sections.all.image_shape.options__7.label" },
        { "value": "round", "label": "t:sections.all.image_shape.options__8.label" }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label"
    }
  ],
  "presets": [
    {
      "name": "SS Routine Products"
    }
  ]
}
{% endschema %}
