<div class="whistleblowing-page page-container">
  <section class="section">
    <div class="section__wrapper">
      <h1 class="h1">{{ page.title }}</h1>
      <div class="section__body">
        <div class="whistleblowing-documents">
          <div class="whistleblowing-documents-item">
            <div class="whistleblowing-documents-item__content">
              <h3 class="whistleblowing-documents-item__title">Deutschland</h3>

              <span class="whistleblowing-documents-item__link">
                <a
                  href="https://cdn.shopify.com/s/files/1/0322/4194/2587/files/2023_11_10_SEVEN_SUNDAYS_Deutschland_GmbH_Interne_Meldestelle_nach_der_Richtlinie_2019_1937_Hinweisgeberschutzgesetz.pdf?v=1702578058"
                  target="_blank"
                  class="whistleblowing-documents-item__link"
                  >
                  <span>DOKUMENT ZUM DOWNLOAD</span>

                  <svg
                    class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 8 14"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"
                    />
                  </svg>
                </a>
            
              </span>
            </div>
            <div class="whistleblowing-documents-item__img">
              <img
                src="https://cdn.shopify.com/s/files/1/0322/4194/2587/files/7S_-_Whistleblowerc_-_Dokument_Icon_756a237f-b708-4af7-a234-b58b919688c2.png?v=1702487193"
                alt=""
              />
            </div>
          </div>

          <div class="whistleblowing-documents-item">
            <div class="whistleblowing-documents-item__content">
              <h3 class="whistleblowing-documents-item__title">Österreich</h3>

              <a
                href="https://cdn.shopify.com/s/files/1/0322/4194/2587/files/2023_11_10_SEVEN_SUNDAYS_Osterreich_GmbH_Interne_Meldestelle_nach_der_Richtlinie_2019_1937_Hinweisgeberschutzgesetz.pdf?v=1702578059"
                target="_blank"
                class="whistleblowing-documents-item__link"
                ><span>DOKUMENT ZUM DOWNLOAD</span>

                <svg
                  class="w-6 h-6 text-gray-800 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 8 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"
                  />
                </svg>
              </a>
            </div>
            <div class="whistleblowing-documents-item__img">
              <img
                src="https://cdn.shopify.com/s/files/1/0322/4194/2587/files/7S_-_Whistleblowerc_-_Dokument_Icon_756a237f-b708-4af7-a234-b58b919688c2.png?v=1702487193"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<style>
  .whistleblowing-page {
    margin-bottom: 20px;
  }
  .whistleblowing-page .section {
    margin-top: 40px;
  }

  .whistleblowing-page .h1 {
    font-family: GesturaDisplay;
    font-size: 60px;
    margin: 20px 0 !important;
  }

  .whistleblowing-documents {
    display: flex;
    gap: 30px;
  }

  .whistleblowing-documents-item {
    background: #fff;
    flex: 1;
    padding: 50px;
    display: flex;
    justify-content: space-between;
  }

  .whistleblowing-documents-item__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
  }

  .whistleblowing-documents-item__title {
    font-family: GesturaDisplay;
    font-size: 35px;
  }

  .whistleblowing-documents-item__link {
    font-family: BasisGrotesqueArabicPro;
    font-size: 20px;
    color: #de702e;
  }

  .section__body {
    margin-left: 0;
  }

  .whistleblowing-documents-item__link svg {
    width: 8px;
}

  @media (max-width: 768px) {
    .whistleblowing-documents {
      flex-direction: column;
    }

    .whistleblowing-documents-item__link {
      font-size: 16px;
      line-height: normal;
    }
  }
</style>


{% schema %}
{
  "name": "Whistleblowing",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Whistleblowing",
      "blocks": []
    }
  ]
}
{% endschema %}