/*--------------------*/
/*  Reset             */
/*--------------------*/
html {height: auto;box-sizing: border-box;font-synthesis: none;-webkit-font-smoothing: antialiased;scroll-behavior: smooth;scroll-padding-top: var(--h-height, 0);}
html:not(.touch-screen)::-webkit-scrollbar {width: 0.5rem;height: 0.5rem;}
html:not(.touch-screen)::-webkit-scrollbar-track {background: transparent;}
html:not(.touch-screen)::-webkit-scrollbar-thumb {background: #c2c2c2;border-radius: 0.25rem;}
html:not(.touch-screen)::-webkit-scrollbar-thumb:active {background: #8d8d8d;}
body {height: auto;overflow-y: scroll;background-color: var(--bg-1);}
body:not(.touch-screen) *::-webkit-scrollbar {width: 0.25rem;height: 0.25rem;}
body:not(.touch-screen) *::-webkit-scrollbar-track {background: transparent;border-radius: 0.25rem;}
body:not(.touch-screen) *::-webkit-scrollbar-thumb {background: #c2c2c2;}
:where(body.touch-screen *::-webkit-scrollbar) {display: none;}
* {border: 0;margin: 0;padding: 0;min-width: 0;font: inherit;font-size: 100%;line-height: inherit;vertical-align: baseline;-webkit-locale: auto;-webkit-text-size-adjust: none;-webkit-tap-highlight-color: transparent;}
:is(*, *:before, *:after) {box-sizing: inherit;}
:is(:focus, :hover, :active, :visited) {outline: none;}
::-moz-selection {color: var(--clr-white);background: var(--clr-black);}
::selection {color: var(--clr-white);background: var(--clr-black);}
a {display: inline-block;text-decoration: none;cursor: pointer;outline: none;color: inherit;transition: var(--transition-1);}
a:hover {text-decoration: none;}
:is(ul, ol) {list-style: none;}
:is(sub, sup) {font-size: 75%;line-height: 0;position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
picture {font-size: 0;-webkit-user-select: none;-moz-user-select: none;user-select: none;}
:is(img, svg, iframe) {width: auto;height: auto;max-width: 100%;-webkit-user-select: none;-moz-user-select: none;user-select: none;vertical-align: middle;}
img {position: relative;}
img::before {content: "";position: absolute;inset: 0;background: no-repeat center/min(5rem, 50%) min(5rem, 50%) var(--clr-grey) url(../img/placeholder.svg);}
input {-webkit-appearance: none;-moz-appearance: none;font-size: 1rem;font-weight: 400;color: var(--clr-black);}
::-moz-placeholder {display: none;}
::placeholder {display: none;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance: textfield;}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {-webkit-appearance: none;height: 0.7em;width: 0.7em;background-size: contain;cursor: pointer;}
:is(input, textarea, select) {border-radius: 0;background: none;border: none;margin: 0;width: 100%;padding: 0;}
textarea {display: block;resize: none;overflow: auto;}
select::-ms-expand {display: none;}
button {background: none;}
/*----------------------*/
/*  Main Global         */
/*----------------------*/
:root {--root-scale: 1rem;--container-width: 100%;--ff-1: "BasisGrotesqueArabicPro";--ff-2: "GesturaDisplay";--h1: 76px;--h2: 56px;--h3: 36px;--h4: 32px;--h5: 28px;--h6: 24px;--text: 16px;--text-md: 20px;--text-sm: 14px;--sp-xl: 160px;--sp-lg: 120px;--sp-md: 80px;--sp-sm: 60px;--sp-xs: 40px;--sp-64: 64px;--sp-48: 48px;--sp-32: 32px;--sp-24: 24px;--sp-16: 16px;--sp-12: 12px;--sp-8: 8px;--rd-0: 16px;--rd-1: 12px;--rd-2: 8px;--clr-title: rgba(30, 34, 39, 0.88);--clr-text: rgba(30, 34, 39, 0.88);--clr-text-2: rgba(245, 241, 232, 0.64);--clr-text-3: rgba(30, 34, 39, 0.04);--clr-text-4: rgba(30, 34, 39, 0.48);--clr-text-5: rgba(30, 34, 39, 0.16);--clr-text-6: rgba(30, 34, 39, 0.64);--clr-plc: #4A5055;--clr-input: rgba(245, 241, 232, 0.00);--clr-border: #D3D3D3;--clr-border-light: rgba(255, 255, 255, 0.16);--clr-white: #ffffff;--clr-white-2: #F5F1E8;--clr-white-3: rgba(245, 241, 232, 0.88);--clr-black: #1E2227;--clr-black-50: rgba(13, 13, 13, 0.5);--clr-grey: rgba(245, 241, 232, 0.88);--clr-grey-64: rgba(245, 241, 232, 0.64);--clr-grey-50: rgba(245, 241, 232, 0.48);--clr-grey-16: rgba(245, 241, 232, 0.16);--clr-grey-4: rgba(245, 241, 232, 0.04);--clr-red: #ff0000;--clr-green: #00A850;--clr-gold: #E7D39A;--clr-gold-50: rgb(231 211 154 / 50%);--clr-primary: #E7D39A;--clr-primary-3: #BEC7DE;--clr-secondary: #F3EDE9;--bg-1: #F5F1E8;--bg-2: #2B2F34;--bg-3: #E6D8CE;--box-shadow: 0px .25rem .625rem 0px rgba(0, 0, 0, 0.05),0px 2.125rem 1.25rem 0px rgba(0, 0, 0, 0.03);--gradient: linear-gradient(180deg, rgba(30, 34, 39, 0.00) 0%, rgba(30, 34, 39, 0.88) 100%);--gradient-2: linear-gradient(180deg, rgba(42, 41, 38, 0.00) 0%, rgba(42, 41, 38, 0.64) 100%);--back-filter: blur(16px);--transition-1: .3s;--transition-2: .5s;--cubic-1: .5s cubic-bezier(0.65, 0, 0.35, 1);}
html {font-size: var(--root-scale);}
html.keyboard-focus:focus {outline: auto;}
html.overflow-menu,
html.overflow-hidden {overflow: clip;}
html.overflow-menu body,
html.overflow-hidden body {overflow: clip;}
.overflow-overlay {opacity: 0;visibility: hidden;position: fixed;z-index: 90;inset: 0;background-color: rgba(0, 0, 0, 0.6);transition: var(--transition-1);}
#content-block {position: relative;min-height: 100svh;display: flex;flex-direction: column;}
header {position: relative;opacity: 0;}
main {display: flex;flex-direction: column;}
main .seo-section {order: 1;}
footer {margin-top: auto;}
.seo-section {order: 1;}
.banner-sticker {opacity: 0;}
header.type2 + main .section:first-child {padding-top: calc(var(--h-top-rating) + var(--h-height) + var(--sp-md));}
header.type2 + main .section.sec-padd:first-child {padding-top: calc(var(--h-top-rating) + var(--h-height));}
.section {will-change: opacity;position: relative;overflow: clip;opacity: 0;}
.section.animated {opacity: 1;transition: 0.15s linear opacity;}
.section.sec-black {background-color: var(--clr-black);}
.section.sec-black .title {color: var(--clr-white-2);}
.section.sec-black .text {color: var(--clr-white-3);}
.section.sec-black .motto {color: var(--clr-white-3);}
.section.sec-dark-grey {background-color: var(--bg-3);}
.section.sec-padd {padding-block: var(--sp-xl);}
.section.sec-padd + .padd-xl {padding-top: 0;}
.section.sec-padd + .padd-lg {padding-top: 0;}
.section.padd-xl-lg {padding-block: var(--sp-xl) var(--sp-lg);}
.section.padd-lg {padding-block: var(--sp-lg);}
.section.padd-lg + .padd-lg {padding-top: 0;}
.section.padd-md {padding-block: var(--sp-md);}
.section.sec-mb {margin-bottom: var(--sp-xl);}
.section.contain-line {padding-bottom: 0;}
.section.banner-section + * {margin-top: var(--sp-lg);}
.section.banner-section + .book-sec {margin-top: var(--sp-xs);}
.section.gradient-1::before {content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: linear-gradient(180deg, var(--clr-white-2) 0%, var(--clr-primary) 100%);z-index: -1;pointer-events: none;}
.section.gradient-2::before {content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: linear-gradient(180deg, var(--clr-primary) 0%, var(--clr-white-2) 100%);z-index: -1;pointer-events: none;}
.section.sec-padd-inline {padding-inline: var(--sp-32);}
.container,
.container-fluid {--bs-gutter-x: 2rem;--bs-gutter-y: 3rem;width: 100%;margin-inline: auto;padding-inline: calc(var(--bs-gutter-x) * 0.5);}
.container .row,
.container-fluid .row {--bs-gutter-x: 2rem;}
.swiper-container {will-change: opacity;opacity: 0;}
.swiper-container.swiper-initialized {opacity: 1;transition: 0.15s linear opacity;}
.popup-wrapper,
.cookies-informer {display: none;}
@media (min-width: 1200px) {
:root {--container-width: 1408px;}
.container {width: var(--container-width);}
}
@media (min-width: 1200px) and (max-width: 1430px) {
:root {--container-width: 100%;}
.container {padding-inline: 32px;}
}
@media (max-width: 1199px) {
:root {--h1: 40px;--h2: 40px;--h3: 28px;--h4: 24px;--h5: 20px;--h6: 18px;--text: 14px;--text-md: 16px;--text-sm: 12px;--sp-xl: 64px;--sp-lg: 64px;--sp-md: 48px;--sp-sm: 32px;--sp-xs: 32px;--sp-64: 48px;--sp-48: 32px;--sp-32: 24px;--sp-24: 16px;--sp-16: 12px;}
header.type2 + main .section.sec-padd:first-child {padding-top: calc(var(--h-top-rating) + var(--h-height) + var(--sp-64));}
.section.sec-padd-inline {padding-inline: var(--sp-24);}
}
/*--------------------*/
/*  Header            */
/*--------------------*/
:root {--h-top-rating: 28px;--h-height: 74px;--h-logo-width: 229px;--h-icon: 16px;}
header {position: fixed;top: 0;left: 0;width: 100%;z-index: 100;transition: var(--transition-1);}
header.type2 .h-logo img:first-child {display: none;}
header.type2 .h-logo img:last-child {display: block;}
header.type2 .h-inner {margin-top: 0;}
header.type2 .h-links a,
header.type2 .h-drop b {color: var(--clr-black);}
header.type2 .h-lang-wrap {background-color: var(--clr-text-3);color: var(--clr-black);}
header.type2 .h-lang-wrap .current-lang::before {border-color: var(--clr-black);}
header.type2 .h-lang {background-color: var(--clr-text-3);}
header.type2 .h-lang a {color: var(--clr-black);}
header.open-menu .h-inner {z-index: 100;}
header.open-menu .h-inner::before {border-bottom-left-radius: 0;border-bottom-right-radius: 0;opacity: 1;visibility: visible;}
header.open-menu .h-logo img:first-child {display: none;}
header.open-menu .h-logo img:last-child {display: block;}
header.open-menu .h-links a,
header.open-menu .h-drop b {color: var(--clr-black);}
header.open-menu .h-lang-wrap {color: var(--clr-black);background-color: var(--clr-grey);}
header.open-menu .h-lang-wrap .h-lang {background-color: var(--clr-grey);}
header.open-menu .h-lang-wrap .h-lang a {color: var(--clr-black);}
header.open-menu .h-menu-overlay {opacity: 1;visibility: visible;}
header.open-menu.type2 .season-mode {background-color: var(--clr-grey);}
.h-top-header {position: relative;height: var(--h-top-rating);background-color: var(--clr-primary-3);display: flex;align-items: center;z-index: 100;}
.h-top-header .container {display: flex;justify-content: center;}
.h-top-header span {font-size: 12px;font-style: normal;font-weight: 500;line-height: 1;letter-spacing: 0.75px;text-transform: uppercase;color: #381D0F;}
.h-wrap {transition: var(--transition-1);}
header.scrolled .h-inner {width: 1252px;}
header.scrolled .h-inner::before {opacity: 1;visibility: visible;}
header.scrolled .h-logo img:first-child {display: none;}
header.scrolled .h-logo img:last-child {display: block;}
header.scrolled .h-links a,
header.scrolled .h-drop b {color: var(--clr-black);}
header.scrolled .h-lang-wrap {color: var(--clr-black);background-color: #f6f6f6;}
header.scrolled .h-lang-wrap .h-lang {background-color: #f6f6f6;}
header.scrolled .h-lang-wrap .h-lang a {color: var(--clr-black);}
header.scrolled .h-lang-wrap .current-lang::before {border-color: var(--clr-black);}
.h-inner {position: relative;width: 100%;height: var(--h-height);gap: var(--sp-8);display: flex;align-items: center;justify-content: space-between;margin-inline: auto;margin-top: 8px;transition: var(--transition-1);}
.h-inner::before {content: "";position: absolute;top: 0;left: -20px;right: -20px;width: auto;height: 100%;background-color: var(--clr-white);border-radius: 36px;opacity: 0;visibility: hidden;z-index: -1;transition: var(--transition-1);}
.h-logo {display: block;width: var(--h-logo-width);flex-shrink: 0;}
.h-logo img {display: block;max-width: 100%;}
.h-logo img:last-child {display: none;}
.h-menu {flex-grow: 1;display: flex;align-items: center;}
.h-links {display: flex;width: 100%;justify-content: center;}
.h-links ul {display: flex;align-items: center;flex-wrap: wrap;gap: var(--sp-24);font-size: 0;line-height: 1;}
.h-links a {font-size: 12px;font-style: normal;font-weight: 500;line-height: 16px;letter-spacing: 0.75px;text-transform: uppercase;color: var(--clr-white-2);}
.h-lang-wrap {position: relative;cursor: pointer;font-size: 14px;line-height: 18px;font-weight: 700;color: var(--clr-white-2);padding: 12px;border-radius: 21px;background-color: var(--clr-grey-4);z-index: 2;flex-shrink: 0;}
.h-lang-wrap .current-lang {position: relative;display: inline-flex;align-items: center;transition: var(--transition-1);padding-right: 16px;}
.h-lang-wrap .current-lang::before {content: "";position: absolute;right: 1px;top: calc(50% - 0.125rem);transform: translateY(-50%) rotate(45deg);transition: var(--transition-1);width: 6px;height: 6px;border-right: 1px solid var(--clr-white-2);border-bottom: 1px solid var(--clr-white-2);}
.h-lang {position: absolute;left: 0;bottom: 0;transform: translate(0, 100%);width: 100%;display: block;background-color: var(--clr-grey-4);border-radius: var(--rd-0);border-top-left-radius: 0;border-top-right-radius: 0;opacity: 0;visibility: hidden;backface-visibility: hidden;text-align: left;padding: 12px;}
.h-lang > * + * {margin-top: 8px;}
.h-lang a {text-align: left;color: var(--clr-white-2);}
header .h-lang-wrap:hover {color: var(--clr-primary);border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
.h-lang-wrap:hover .current-lang::before {transform: translateY(0%) rotate(225deg);}
.h-lang-wrap:hover .h-lang {opacity: 1;visibility: visible;}
header .h-lang a:hover {color: var(--clr-gold);}
header.scrolled .h-lang-wrap:hover {color: var(--clr-primary);}
header.scrolled .h-lang a:hover {color: var(--clr-primary);}
.h-cart {width: 36px;height: 36px;border-radius: 50%;background-color: var(--clr-black);display: flex;align-items: center;justify-content: center;cursor: pointer;transition: var(--transition-1);}
.h-menu-bottom,
.h-drop-list,
.h-burger {display: none;}
.h-menu-overlay {display: block;position: fixed;z-index: 99;top: 0;left: 0;width: 100%;height: 200vh;opacity: 0;visibility: hidden;background: rgba(13, 13, 13, 0.48);transition: var(--transition-1);}
@media (min-width: 1200px) and (max-width: 1400px) {
.h-inner::before {left: -20px;right: -20px;}
}
@media (min-width: 1200px) {
header.scrolled {transform: translateY(calc(var(--h-top-rating) * -1));}
header .h-links a:hover,
header.scrolled .h-links a:hover {color: var(--clr-primary);}
header.type2:not(.scrolled) .h-links a:hover {color: var(--clr-text-4);}
.h-cart:hover {background-color: var(--clr-title);}
}
@media (max-width: 1199px) {
:root {--h-top-rating: 26px;--h-height: 64px;--h-logo-width: 200px;}
.h-lang-wrap {display: none;}
header.scrolled .h-inner {width: auto;}
header.scrolled .h-inner::before {background-color: var(--clr-white);}
header.scrolled .h-burger {background-color: rgba(30, 34, 39, 0.04);}
header.scrolled .h-burger i {background-color: var(--clr-black);}
header.scrolled .h-burger i:before,
header.scrolled .h-burger i:after {background-color: var(--clr-black);}
header.open-menu .h-inner::before {background-color: var(--clr-white-2);}
header.open-menu .h-lang-wrap {color: var(--clr-black);background-color: #ebeadd;padding: 11px 10px;font-size: 12px;}
header.open-menu .h-lang-wrap:hover {color: var(--clr-black);}
header.open-menu .h-lang-wrap .current-lang::before {width: 6px;height: 6px;border-right: 1px solid var(--clr-black);border-bottom: 1px solid var(--clr-black);}
header.type2 .h-burger {background-color: var(--clr-white);}
header.type2 .h-burger i {background-color: var(--clr-black);}
header.type2 .h-burger i:before,
header.type2 .h-burger i:after {background-color: var(--clr-black);}
header.type2.scrolled .h-burger {background-color: var(--clr-grey);}
header.type2.open-menu .h-burger {background-color: var(--clr-grey);}
header.type2.open-menu .h-burger i {background-color: transparent;}
.h-top-header span {font-size: 10px;}
.h-cart {width: 32px;height: 32px;}
.h-burger {position: relative;display: block;width: 32px;height: 32px;background-color: var(--clr-grey-4);border-radius: 32px;flex-shrink: 0;}
.h-burger i {display: inline-block;position: absolute;top: 15px;left: 10px;width: 12px;height: 1px;background-color: var(--clr-white-2);transition: var(--transition-1);}
.h-burger i:before,
.h-burger i:after {content: "";position: absolute;left: 0;top: -4px;width: 100%;height: 100%;background-color: var(--clr-white-2);transition: var(--transition-1);}
.h-burger i:after {top: 4px;}
.h-inner {justify-content: space-between;margin-top: 4px;gap: 8px;}
.h-inner::before {left: -12px;right: -12px;border-radius: var(--rd-1);background-color: var(--clr-white);}
.h-menu {position: fixed;z-index: -1;top: 0;left: 4px;transform: scaleY(0);transform-origin: 50% 0;will-change: transform;transition: var(--transition-1);width: calc(100% - 8px);height: auto;display: flex;flex-direction: column;align-items: center;background-color: var(--clr-white-2);opacity: 0;padding: 20px 16px;margin-top: calc(var(--h-height) + var(--h-top-rating) + 4px);border-bottom-left-radius: var(--rd-1);border-bottom-right-radius: var(--rd-1);}
.h-menu > * + * {margin-top: 24px;}
.h-menu .h-lang-wrap {display: inline-block;}
.h-links {margin-left: 0;justify-content: flex-start;}
.h-links ul {gap: 0;flex-direction: column;width: 100%;align-items: flex-start;}
.h-links a {color: var(--clr-black);font-size: var(--h4);font-weight: 500;line-height: 28px;letter-spacing: -0.5px;padding: 8px 0;text-transform: inherit;border-radius: 0;width: 100%;}
.h-links a.active {color: var(--clr-primary);}
.h-menu-bottom {display: flex;flex-direction: column;gap: 12px;width: 100%;margin-top: var(--sp-lg);}
.product-item-wrapp {position: relative;padding: 10px;background: var(--clr-white);overflow: hidden;border-radius: var(--rd-2);}
.product-item {position: relative;display: flex;flex-direction: column;justify-content: space-between;gap: var(--sp-24);padding: 12px;border-radius: var(--rd-2);background-color: #F1EEE9;overflow: hidden;min-height: 140px;}
.product-item .pr-content {position: relative;z-index: 1;}
.product-item .btn {width: -moz-fit-content;width: fit-content;font-size: 12px;line-height: 1;padding: 8px 10px;}
.product-img {position: absolute;top: 0;right: 0;width: 56%;aspect-ratio: 1/0.73;pointer-events: none;}
.product-img img {position: absolute;left: 0;top: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;-o-object-fit: contain;object-fit: contain;-o-object-position: top right;object-position: top right;}
.lang-social {display: flex;align-items: center;justify-content: space-between;gap: var(--sp-24);}
header.open-menu .h-lang-wrap .h-lang {padding: 11px 10px;font-size: 12px;background-color: #ebeadd;}
.open-menu .h-burger {background-color: rgba(30, 34, 39, 0.04);}
.open-menu .h-burger i {background-color: transparent !important;}
.open-menu .h-burger i:before,
.open-menu .h-burger i:after {top: 0;transform-origin: center;transform: rotate(-45deg);background-color: var(--clr-black);}
.open-menu .h-burger i:after {transform: rotate(45deg);}
.open-menu .h-menu {transform: scaleY(1);opacity: 1;}
.open-menu .h-menu-overlay {opacity: 1;visibility: visible;}
}
header {opacity: 1;transition: var(--transition-1);}
/*--------------------*/
/*  Typography        */
/*--------------------*/
body {font-family: var(--ff-1);font-weight: 400;font-size: var(--h6);line-height: 1.4em;color: var(--clr-text);background-color: var(--bg-1);}
.title,
.font-1 {font-family: var(--ff-1);}
.title-shortcode {display: flex;gap: var(--sp-24);flex-direction: column;margin-bottom: var(--sp-md);}
.title-shortcode.text-center {justify-content: center;}
.title-shortcode.text-center .btn {margin-inline: auto;}
.title-shortcode.text-center .tags {justify-content: center;}
.title-shortcode .title {text-wrap: balance;}
.title-shortcode .title.no-balance {text-wrap: auto;}
.title-shortcode .btn {width: -moz-fit-content;width: fit-content;}
.title-shortcode .button-wrapp {width: -moz-fit-content;width: fit-content;margin-inline: auto;}
.title-shortcode .left-part .btn {margin-inline: 0;}
.title-shortcode.left .btn {margin-inline: 0;}
.title-shortcode.mb-0 {margin-bottom: 0;}
.title-shortcode.mb-48 {margin-bottom: var(--sp-48);}
.title-shortcode.mb-32 {margin-bottom: var(--sp-32);}
.motto {font-size: 12px;font-style: normal;font-weight: 500;line-height: 16px;letter-spacing: 0.75px;text-transform: uppercase;color: var(--clr-text);}
.motto.white {color: var(--clr-white-3);}
.text {--text-space: var(--sp-16);--text-rd: var(--rd-2);--text-li-padding: 36px;--text-th-height: 50px;--text-th-padding: 20px;font-size: var(--text);line-height: 1.5;font-weight: 400;color: var(--clr-black);}
.text.text-md {font-size: var(--text-md);line-height: 1.4;}
.text.text-sm {font-size: var(--text-sm);}
.text * + :where(*) {margin-top: calc(var(--text-space) * 6);}
.text * + :is(p, ul, ol) {margin-top: calc(var(--text-space) * 3);}
.text * + :is(p + p) {margin-top: var(--text-space);}
.text * + :is(li) {margin-top: calc(var(--text-space) * 0.4);}
.text :is(img, table, iframe, figure, picture, blockquote, .swiper-entry) + *:not(figcaption) {margin-top: calc(var(--text-space) * 3);}
.text .swiper-entry > * * {margin-top: 0;}
.text b {font-weight: 700;}
.text span {color: var(--clr-primary);}
.text strong {font-weight: 700;}
.text em {font-style: italic;font-weight: 500;}
.text a:not(.btn) {display: inline;font-weight: 400;color: var(--clr-black);text-decoration: underline;text-decoration-color: currentColor;text-underline-offset: 2px;}
.text ul li,
.text ol li {position: relative;padding-left: var(--text-li-padding);}
.text ul li {padding-left: var(--text-li-padding);}
.text ul li:before {content: "";position: absolute;left: 15px;top: 11px;width: 4px;height: 4px;border-radius: 50%;background-color: currentColor;}
.text.text-sm ul li {padding-left: calc(var(--text-li-padding) / 1.5);}
.text.text-sm ul li:before {left: 10px;top: 9px;}
.text ol {counter-reset: number;}
.text ol li:before {counter-increment: number;content: counter(number, decimal-leading-zero) ".";display: inline-block;position: absolute;left: 0;font-weight: 500;line-height: inherit;color: var(--clr-black);}
.text img {display: block;width: 100%;border-radius: var(--text-rd);}
.text figure {line-height: 0;width: 100%;}
.text figure.aligncenter {text-align: center;}
.text figure.alignright {text-align: right;}
.text figure > img {width: auto;}
.text figure figcaption {font-size: 12px;font-weight: 500;line-height: 16px;letter-spacing: 0.96px;text-transform: uppercase;color: var(--clr-black);margin-top: 16px;}
.text iframe {display: block;max-width: 100%;width: 100%;height: 100%;aspect-ratio: 16/9;border: 0;border-radius: var(--text-rd);}
.text blockquote {text-align: left;font-weight: 500;padding-block: calc(var(--text-space) * 3);padding-inline: clamp(1rem, -6.54rem + 15.6vw, var(--text-space) * 6);color: var(--clr-black);background-color: var(--clr-grey);border-radius: var(--text-rd);}
.text table {border-collapse: collapse;width: 100%;}
.text tbody tr {text-align: left;}
.text tbody tr:nth-child(even) th,
.text tbody tr:nth-child(even) td {background-color: var(--clr-grey);}
.text tbody tr:last-child:not(:nth-child(even)) {border-bottom: 0.0625rem solid var(--clr-grey);}
.text thead tr {border: none;}
.text thead th,
.text thead td {height: var(--text-th-height);font-weight: 500;color: var(--clr-black);background-color: var(--clr-grey);}
.text td,
.text th {vertical-align: middle;height: calc(var(--text-th-height) / 1.4);padding: calc(var(--text-th-padding) / 3);font-size: inherit;line-height: inherit;font-weight: inherit;color: var(--clr-text);}
.text td:first-child,
.text th:first-child {padding-left: var(--text-th-padding);border-radius: var(--text-rd) 0 0 var(--text-rd);}
.text td:last-child,
.text th:last-child {padding-right: var(--text-th-padding);border-radius: 0 var(--text-rd) var(--text-rd) 0;}
.text *:first-child img {margin-top: 0;}
:is(h1, .h1:not(.font-1), h2, .h2:not(.font-1), h3, .h3:not(.font-1)) {color: var(--clr-title);font-family: var(--ff-2);}
:is(h5, .h5, h6, .h6) {color: var(--clr-title);font-family: var(--ff-1);font-weight: 400;}
h1,
.h1 {font-size: var(--h1);line-height: 1;letter-spacing: -2px;}
h2,
.h2 {font-size: var(--h2);line-height: 1;letter-spacing: -1px;}
h3,
.h3 {font-size: var(--h3);line-height: 1.22;letter-spacing: -1px;}
h4,
.h4 {font-size: var(--h4);line-height: 1.25;font-family: var(--ff-1);letter-spacing: -1px;}
h5,
.h5 {font-size: var(--h5);line-height: 1.5;letter-spacing: -0.5px;}
h6,
.h6 {font-size: var(--h6);line-height: 1.34;letter-spacing: -0.25px;}
.text-balance {text-wrap: balance;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
@media (min-width: 1200px) {
.text a:not(.btn):hover {text-decoration-color: transparent;}
.title-shortcode.row-align {display: flex;justify-content: space-between;align-items: flex-end;flex-direction: row;gap: var(--sp-16);}
.title-shortcode.row-align .left-part {display: flex;flex-direction: column;gap: var(--sp-24);flex: 0 0 62%;}
.title-shortcode.row-align .left-part .text {max-width: 840px;}
.title-shortcode.row-align .right-part {align-self: end;flex: 0 0 33%;}
.title-shortcode.row-align .right-part.swiper-arrow {padding-right: 148px;padding-bottom: 12px;}
}
@media (max-width: 1199px) {
.motto {font-size: 10px;line-height: 1;}
.title-shortcode.row-align {gap: 16px;text-align: center;}
.title-shortcode.row-align.mob-left {text-align: left;}
.title-shortcode.row-align .left-part {display: flex;flex-direction: column;gap: 16px;}
.text {--text-li-padding: 28px;}
.text * + :where(*) {margin-top: calc(var(--text-space) * 4);}
.text * + :is(p, ul, ol) {margin-top: calc(var(--text-space) * 2.4);}
.text * + :is(li) {margin-top: 2px;}
.text ul li:before {top: 9px;left: 10px;}
.text.text-sm ul li {padding-left: calc(var(--text-li-padding) / 1.4);}
.text.text-sm ul li:before {top: 7px;left: 8px;}
.text figure figcaption {font-size: 10px;line-height: 12px;letter-spacing: 0.8px;margin-top: 8px;}
}
@media (max-width: 991px) {
h1,
.h1 {letter-spacing: -0.8px;}
h2,
.h2 {letter-spacing: -0.5px;}
h3,
.h3,
h4,
.h4 {letter-spacing: -0.5px;}
h5,
.h5 {line-height: 1.2;letter-spacing: -0.5px;}
h6,
.h6 {line-height: 1.12;}
.title-shortcode {gap: 16px;}
}
/*--------------------*/
/*  Buttons           */
/*--------------------*/
.btn {z-index: 1;position: relative;-webkit-user-select: none;-moz-user-select: none;user-select: none;cursor: pointer;overflow: hidden;font-size: 16px;line-height: 20px;font-weight: 700;color: var(--clr-black);text-decoration: none;padding: 11px 16px 13px;padding-left: 20px;border: none;border-radius: 22px;background-color: var(--clr-gold);transition: var(--transition-1);flex-shrink: 0;display: inline-flex;align-items: center;justify-content: center;text-transform: capitalize;}
.btn b {display: inline-block;line-height: inherit;font-weight: inherit;color: currentColor;}
.btn > * + * {margin-left: 8px;}
.btn-primary {background-color: var(--clr-white-2);color: var(--clr-black);}
.btn-secondary {background-color: var(--clr-black);color: var(--clr-white-2);}
.btn-secondary svg {color: var(--clr-primary) !important;}
.btn-secondary svg *[stroke] {stroke: var(--clr-primary) !important;}
.btn-secondary svg *[fill] {fill: var(--clr-primary) !important;}
.btn-third {background-color: transparent;color: var(--clr-black);border: 1px solid var(--clr-input);}
.btn-blur {background-color: rgba(245, 241, 232, 0.04);-webkit-backdrop-filter: blur(8px);backdrop-filter: blur(8px);color: var(--clr-white-2);font-size: 14px;line-height: 18px;padding-inline: var(--sp-16);}
.btn svg {color: currentColor;margin-top: 2px;}
.btn svg *[stroke] {stroke: currentColor;}
.btn svg *[fill] {fill: currentColor;}
.btn-block {width: 100%;}
.btn.disabled {pointer-events: none;background-color: var(--clr-grey);}
.btn:has(svg:only-child) {padding: 0.9em;}
.btn:has(svg:only-child) svg {width: 1.2em;height: 1.2em;}
.btn-close {display: inline-block;position: relative;cursor: pointer;--bw: 44px;width: var(--bw);height: var(--bw);color: var(--clr-black);border-radius: 100%;background-color: var(--clr-white-2);transition: var(--transition-1);}
.btn-close::before,
.btn-close::after {content: "";position: absolute;top: 50%;left: 50%;width: 40%;height: 0.125rem;transform: translate(-50%, -50%) rotate(45deg);background-color: currentColor;}
.btn-close::after {transform: translate(-50%, -50%) rotate(-45deg);}
.btn-link {display: inline-block;cursor: pointer;font-size: 12px;font-style: normal;font-weight: 500;line-height: 1;letter-spacing: 0.75px;text-transform: uppercase;color: var(--clr-white-2);transition: var(--transition-1);}
.btn-link > * + * {margin-left: 4px;}
.btn-link.style2 {padding: 10px 12px;background-color: var(--clr-grey-4);-webkit-backdrop-filter: blur(8px);backdrop-filter: blur(8px);border-radius: var(--sp-32);}
.btn-link.style3 {font-size: 16px;font-weight: 700;line-height: 1.25;letter-spacing: 0;color: var(--clr-black);text-transform: inherit;text-decoration: underline;text-underline-offset: 2px;text-decoration-thickness: 1px;text-decoration-color: currentColor;}
.btn-link svg {color: currentColor;margin-top: -2px;}
.btn-link svg *[stroke] {stroke: currentColor;}
.btn-link svg *[fill] {fill: currentColor;}
.btn-link-animation {animation: btnOpacity 3s infinite;}
.btn-link-animation svg {animation: arrowDown 3s infinite;}
@keyframes btnOpacity {
0% {opacity: 1;}
50% {opacity: 0.5;}
100% {opacity: 1;}
}
@keyframes arrowDown {
0% {transform: translateY(0);}
50% {transform: translateY(6px);}
100% {transform: translateY(0);}
}
.video-btn {--size: 40px;position: relative;width: var(--size);height: var(--size);border-radius: 50%;background-color: var(--clr-grey);cursor: pointer;z-index: 1;transition: var(--transition-1);}
.video-btn::before {content: "";position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 16px;height: 16px;background-image: url(../img/icons/video-btn.svg);background-repeat: no-repeat;background-position: center;background-size: cover;}
.button-wrapp {display: flex;align-items: center;gap: 8px;}
@media (min-width: 1200px) {
.btn:hover {color: var(--clr-gold);background-color: var(--clr-black);}
.btn-primary:hover {color: var(--clr-white-2);background-color: var(--clr-black);}
.btn-secondary:hover {color: var(--clr-white-2);background-color: var(--clr-title);}
.btn-third:hover {color: var(--clr-primary);background-color: var(--clr-white);border-color: var(--clr-white);}
.btn-close:hover {color: var(--clr-black);background-color: var(--clr-primary);}
.btn-link:hover {color: var(--clr-primary);}
.btn-link.style3:hover {text-decoration-color: transparent;color: var(--clr-black);}
.video-btn:hover {background-color: var(--clr-black);}
}
@media (max-width: 1199px) {
.btn {font-size: 14px;line-height: 18px;padding: 10px;}
.btn-blur {font-size: 12px;line-height: 10px;padding: 10px;}
.ios .btn {padding: 11px 10px 9px;}
}
@media (max-width: 991px) {
.btn-close {--bw: 32px;}
.video-btn {--size: 32px;}
}